.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    color: white;
  }
  
  .reset-password-button {
    margin-top: 10px;
  }
  
  .text-white {
    color: white;
  }

  .text-login {
    color: white !important;
    text-decoration: underline !important;
  }
  