.container {
    text-align: center;
    padding: 20px;
  }
  
  .image-container {
    margin: 20px 0;
  }
  
  img {
    max-width: 200px;
    border-radius: 50%;
  }
  
  .section {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin-bottom: 40px;
  }
  
  .section h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .section p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  ul {
    text-align: left;
    margin-left: 40px;
  }
  
  a {
    color: #007bff;
  }
  
  .twitchInfo,
  .twitterInfo,
  .youTubeInfo {
    color: #007bff !important;
  }